<div class="row home">
  <div class="btn-group" role="group" aria-label="Top menu">
    <button type="button" class="btn btn-secondary menu">Menu</button>
    <button type="button" class="btn btn-secondary contact">Contact</button>
  </div>
  <h1 class="display-3">Are you hungry? Let order now !</h1>
  <p class="lead">Delicious asian foods with cheap price are waiting for you</p>
  <div class="center-block">
    <form class="form-inline">
      <input type="text" name="search-input" class="form-control" placeholder="Search your foods">
      <button class="btn btn-success-outline" type="submit">Search</button>
    </form>
  </div>
</div>
