<div class="container order">
  <div class="row">
    <h1 class="display-3">Đặt hàng</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form>
        <fieldset class="form-group">
          <label for="name">Tên khách hàng</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="">
        </fieldset>
        <fieldset class="form-group">
          <label for="phone">Điện thoại</label>
          <input type="phone" class="form-control" name="phone" id="phone" placeholder="">
          <small class="text-muted">Dùng để xác nhận đặt hàng</small>
        </fieldset>
        <fieldset class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="">
        </fieldset>
        <fieldset class="form-group">
          <label for="address">Địa chỉ</label>
          <input type="text" class="form-control" name="address" id="address" placeholder="">
        </fieldset>
        <fieldset class="form-group">
          <label for="coupon-code">Mã giảm giá</label>
          <div class="input-group">
            <input type="text" class="form-control" name="coupon-code" id="coupon-code" placeholder="">
            <span class="input-group-btn">
              <button class="btn btn-success">Áp dụng</button>
            </span>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Đặt hàng</button>
      </form>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên món</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>70.000</td>
            <td>1</td>
            <td>70.000</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>70.000</td>
            <td>1</td>
            <td>70.000</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>70.000</td>
            <td>1</td>
            <td>70.000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
