<div class="row container">
  <div class="col-md-6">
    <h1 class="display-3">Liên hệ</h1>
    <h2>Nhà hàng Leo</h2>
    <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 231 Chu Văn An - Phường 23 - Quận Bình Thạnh - Tp. Hồ Chí Minh</p>
    <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 0933333333</p>
  </div>
  <div class="col-md-6" id="googleMap" style="width:500px;height:380px;"></div>
</div>
