<div class="container contact">
  <div class="row">
    <h1 class="display-3">Liên hệ</h1>
  </div>
  <div class="row details">
    <div class="col-md-6">
      <h2>Nhà hàng Phở tái 2 trứng</h2>
      <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Địa chỉ: 231 Chu Văn An - Phường 23 - Quận Bình Thạnh - Tp. Hồ Chí Minh</p>
      <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Điện thoại: 0933.33.33.30</p>
    </div>
    <div class="col-md-3" id="map" style="width:500px;height:380px;"></div>
  </div>
</div>
