// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  height: 100vh;
  margin-bottom: 0;
  text-align: center;
  /*background-color: #E91E63;*/

  .btn-group, .btn-group-vertical {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn.btn-secondary.menu {
    width: 50%;
  }

  .btn.btn-secondary.contact {
    width: 50%;
  }
}

@media (min-width: 544px) {
  .home .form-inline .form-control {
    width: 40%;
  }
}
