.menu {
  .row.section {
    text-align: center;
    .btn-group, .btn-group-vertical {
      margin-bottom: 40px;
      margin-top: 20px;
    }
  }
  .card-img-top {
    width: 100%;
  }
  a:focus.item-link, a:hover.item-link {
    color: #0275d8;
    text-decoration: none;
  }

  .item-view {
    text-align: center;
  }

  .item-price {
    text-align: right;
  }

  table th > a {
    color: #000000;
    &:hover {
      color: #000000;
      text-decoration: none;
    }
  }

  table th {
    text-align: center;
  }

  th .current {
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  th .asc {
    background-image: image_url('up_arrow.gif');
  }

  th .desc {
    background-image: image_url('down_arrow.gif');
  }

  div.card-block {
    .card-title {
      display: inline-block;
    }
  }

  div.view-comment-group {
    display: inline-block;
    float: right;
  }
}
