.order {
  .display-3 {
    text-align: center;
  }
  td.price {
    text-align: right;
  }
  td.number {
    text-align: center;
  }
  .command-group-button {
    text-align: center;
  }
  form.new_order {
    margin-top: 1.9rem;
  }
}
