.order-success {
  .display-3 {
    text-align: center;
  }
  table.price-table {
    margin-top: 20px;
  }
  td.price {
    text-align: right;
  }
  tr.total-price-row {
    font-size: 1.2rem;
  }
  .btn-group {
    text-align: center;
  }
}
